
<!-- Header -->
			<header id="header">
				<h1><a href="#" style="display: flex; justify-content: center; align-items: center;"><img src="/images/logo_m.svg" style="min-height:4vh; height: 5vh;" alt="" srcset=""></a></h1>
				<a href="/comercios/folio/inspector/ASD234">Inspectores</a>
			</header>

		<!-- Banner -->
            
            
			<section id="banner">
				<div class="inner" style="overflow-y:scroll; overflow-x:hidden; background-image: url('/images/Individual.png'); background-position:center; background-size:60%; background-repeat: no-repeat;">
					<br><br>
					<h2 class="major special">Formulario de Actualización</h2>
					<h4>Actualización de Datos de Comercio</h4>
					
		<!-- Formulario -->
					{{#each comercio}}
                    <form action="/contador/editar_comercio/{{Id}}" style="max-height:70%;" id="myform" method="post">
					<ul class="actions special stacked">
						
						<input type="text" name="Id" id="Id" value="{{Id}}" style="display:none;">
						<div class="col-12"  style="padding-top:10px;">
							<label>Folio</label>
							<input type="text" name="Folio" style="border-color: rgba(0,0,0,0.7); color:black;" id="Folio" value="{{Folio}}" disabled placeholder="Folio" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Nombre Comercial</label>
							<input type="text" name="Nomb_Comercial" style="border-color: rgba(0,0,0,0.7); color:black;" id="Nomb_Comercial" value="{{Nomb_Comercial}}" placeholder="Nombre Comercial" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Horario</label>
							<input type="text" name="Horario" style="border-color: rgba(0,0,0,0.7); color:black;" id="Horario" value="{{Horario}}" placeholder="Horario" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Giro</label>
							<input type="text" name="Giro" style="border-color: rgba(0,0,0,0.7); color:black;" id="Giro" value="{{Giro}}" placeholder="Giro" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Descripción</label>
							<input type="text" name="Descripcion" style="border-color: rgba(0,0,0,0.7); color:black;" id="Descripcion" value="{{Descripcion}}" placeholder="Descripción" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Área Permitida</label>
							<input type="text" name="Area_Permitida" style="border-color: rgba(0,0,0,0.7); color:black;" id="Area_Permitida" value="{{Area_Permitida}}" placeholder="Área Permitida" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Turno</label>
							<input type="text" name="Turno" style="border-color: rgba(0,0,0,0.7); color:black;" id="Turno" value="{{Turno}}" placeholder="Turno" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Apellido Paterno</label>
							<input type="text" name="Ape_Pat" style="border-color: rgba(0,0,0,0.7); color:black;" id="Ape_Pat" value="{{Ape_Pat}}" placeholder="Apellido Paterno" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Apellido Materno</label>
							<input type="text" name="Ape_Mat" style="border-color: rgba(0,0,0,0.7); color:black;" id="Ape_Mat" value="{{Ape_Mat}}" placeholder="Apellido Materno" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Nombres</label>
							<input type="text" name="Nombres" style="border-color: rgba(0,0,0,0.7); color:black;" id="Nombres" value="{{Nombres}}" placeholder="Nombre(s)" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Unión Comercial</label>
							<input type="text" name="Union_Comercio" style="border-color: rgba(0,0,0,0.7); color:black;" id="Union_Comercio" value="{{Union_Comercio}}" placeholder="Unión Comercial" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Antigüedad</label>
							<input type="text" name="antiguedad" style="border-color: rgba(0,0,0,0.7); color:black;" id="antiguedad" value="{{antiguedad}}" placeholder="Antigüedad" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Pago de Derechos</label>
							<input type="text" name="Pago_Derechos" style="border-color: rgba(0,0,0,0.7); color:black;" id="Pago_Derechos" value="{{Pago_Derechos}}" placeholder="Pago de Derechos" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Teléfono</label>
							<input type="text" name="Telefono" style="border-color: rgba(0,0,0,0.7); color:black;" id="Telefono" value="{{Telefono}}" placeholder="Teléfono" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Calle</label>
							<input type="text" name="Calle" style="border-color: rgba(0,0,0,0.7); color:black;" id="Calle" value="{{Calle}}" placeholder="Calle" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Número</label>
							<input type="text" name="Numero" style="border-color: rgba(0,0,0,0.7); color:black;" id="Numero" value="{{Numero}}" placeholder="Número" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Colonia</label>
							<input type="text" name="Colonia" style="border-color: rgba(0,0,0,0.7); color:black;" id="Colonia" value="{{Colonia}}" placeholder="Colonia" />
						</div>
						<div class="col-12"  style="padding-top:10px;">
							<label>Sector</label>
							<input type="text" name="Sector" style="border-color: rgba(0,0,0,0.7); color:black;" id="Sector" value="{{Sector}}" placeholder="Sector" />
						</div>
						{{/each}}
						<li><button type="submit" form="myform" class="button primary large">Registrar</button></li>
						<li><a href="/contador/" style="background-color: red;" class="button primary">Cancelar</a></li>
					</ul>
                    </form>
				
				</div>
			</section>
