<!-- Header -->
			<header id="header">
				<h1><a href="index.html" style="display: flex; justify-content: center; align-items: center;"><img src="/images/logo_m.svg" style="min-height:4vh; height: 5vh;" alt="" srcset=""></a></h1>
				<a href="/comercios/folio/inspector/ASD234">Inspectores</a>
			</header>

		<!-- Banner -->
            

			<section id="banner" class="w-auto p-3">
				<div class="inner" style="background-image: url('/images/Individual.png'); background-position:center; background-size:60%; background-repeat: no-repeat;">
                <ul class="actions">
				    <li><a href="/contador/" class="button primary">Registros</a></li>
                    <li><a href="/contador/inspectores" class="button primary">Inspectores</a></li>
				    <li><a href="/contador/inspecciones" class="button primary">Inspecciones</a></li>
					<li><a href="/contador/pago" class="button primary">Pagos</a></li>
			    </ul>
				<style>
					.pagination .page-item.active .page-link { background-color: #1a3b66; }
					.pagination .page-item.active .page-link { color: white; }

					div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
					background-color: #1a3b66;
					}

					div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item {
					color: white;
					}

					.pagination .page-item.active .page-link:hover {
					background-color: #1a3b66;
					}
					
				</style>
				{{> message}}
					<h2 class="major special">Todos los registros</h2>
					<div class="table-wrapper w-auto p-3"  style="max-height: 55vh;">
						<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  							<thead>
    							<tr>
      								<th class="th-sm">A. Paterno</th>
      								<th class="th-sm">A. Materno</th>
      								<th class="th-sm">Nombres</th>
      								<th class="th-sm">Zona</th>
      								<th class="th-sm">Turno</th>
									<th class="th-sm">Usuario</th>
									<th class="th-sm">Editar</th>
    							</tr>
  							</thead>
  							<tbody>
								{{#each inspectores}}
    							<tr>
      								<td>{{Ape_Pat}}</td>
      								<td>{{Ape_Mat}}</td>
      								<td>{{Nombres}}</td>
      								<td>{{zonas}}</td>
									<td>{{turno}}</td>
									<td>{{usuario}}</td>
      								<td><a style="width: 10px; height: 10px; display:flex; justify-content:center; align-items:center;" href="/contador/editar/{{Id}}" class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
    							</tr>
							{{/each}}
  							</tbody>
						</table>
					</div>
					<ul class="actions special stacked" style="padding-top: 20px;">
						<li><a href="/contador/nuevo_inspector" class="button primary large">Nuevo</a></li>
					</ul>
				</div>
			</section>
			
